torch
torchvision
tensorflow
ultralytics
yolov5
opencv-contrib-python
pillow
albumentations
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
fastapi
uvicorn
jinja2
python-can
evdev
pyserial
shapely
pupil_apriltags
roboflow
sahi
rplidar-roboticia
python-dotenv
pyyaml
requests
psutil
ipython
websockets